<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <style>
        
        .error input{
            background-color: rgb(240, 169, 169);
            border: rgb(248, 102, 102) solid 1px;
        }
        input{
            outline: none;
        }

    </style>
</head>
<body>
    <div class="container mt-3">
        <h2 class="text-center alert alert-danger">Library Management System </h2>
        {% block content %}
          
        {% endblock  %}
    </div>
    
    <script src="{% static 'app/js/jqurey.js' %}"></script>
    <script src="{% static 'app/js/popper.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.js' %}"></script>
</body>
</html>